@charset "utf-8";
/* a text decoration on all links */
a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

a:hover {
	color: lightgray;
}

body {
	margin: 0;
	text-align: center;
}

.menu-navbar {
	background-color: deepskyblue;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.navbar {
	list-style-type: none;
	text-align: end;
	margin-right: 4em;
}

.navbar li {
	display: inline-block;
	margin-left: 3em;
	font-size: 14pt;
	font-family: trade-gothic-next, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* FORMULARIO DE ENVIO */
.upload {
	display: inline-block;
	margin-top: 2em;
}

h1 {
	margin-top: 1em;
	font-family: trade-gothic-next, sans-serif;
	font-weight: 700;
	font-style: normal;
}