// @use calls
@use "../abstracts/" as *;

// @include calls for keyframes
@include keyframe-slide-left;
@include keyframe-slide-right;
@include keyframe-slide-up;
@include keyframe-slide-up-delay;

// Adding animations to the H2s and flags
.maincontainer {
    .esh2 {
        @include animation-slide-right;
    }
    .enh2 {
        @include animation-slide-left;
    }
    &__es {
        @include animation-slide-up;
    }
    &__en {
        @include animation-slide-up-delay;
    }
}

//Main content adjustments, basic padding/margin, font-resizing, and fixed the height to 75vh so the footer stays closer to the bottom.
.maincontainer {
    height: 75vh;
    &__h2 {
        font-size: 1.25rem;
        padding: 0;
        margin: 0;
    }
    &__row {
        padding-top: 0 !important;
        margin-top: 5px;
    }
}