//Navbar adjustments, basic padding, recoloring, font resize and image set to a fixed width.
nav.navbar {
    padding-bottom: 15px;

    h1 {
        color: #FFFFFF;
        margin: 0;
        font-size: 1.65rem;
    }
    img {
        width: 45px;
    }
}

//Main content adjustments, basic padding/margin, font-resizing, and fixed the height to 75vh so the footer stays closer to the bottom.
.maincontainer {
    height: 75vh;
    &__h2 {
        font-size: 1.25rem;
        padding: 0;
        margin: 0;
    }
    &__row {
        padding-top: 0 !important;
        margin-top: 5px;
    }
}